*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --grey-100: rgb(242, 242, 242);
  --grey-300: rgb(218, 218, 218);
  --grey-500: rgb(103, 103, 103);

  --box-shadow: rgba(149, 157, 165, 0.15) 0px 0px 20px;
  --transition: ease .3s all;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-100)
}
h2{
  text-align: center;
  margin-bottom: 30px;
}
a{
  text-decoration: none;
  color: black;
}
.container {
  color: black;
  margin: 0 auto;
}
.info-container {
  width: 650px;
  height: 550px;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  border: 1px solid var(--grey-300);
}
.flex{
  display: flex;
}

.form-row{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.form-label{
  width: 190px;
}
.form-input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--grey-300);
  background-color: var(--grey-100);
}
.btn-container{
  align-self: end;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.btn{
  padding: 10px 15px;
  border: 1px solid var(--grey-300);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: var(--transition);
  background-color: var(--grey-100);
}
.btn-primary{
  background-color: white;
}
.btn:hover{
  background-color: var(--grey-300);
}
.logout-container{
  position: absolute;
  right: 50px;
  top: 50px;
}
.error-message{
  color: red;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 670px) {
  .container{
    width: 90vw;
  }
  .info-container {
    width: auto;
    height: auto;
  }
  .form-row{
    flex-direction: column;
    gap: 15px;
  }
  .form-label{
    width: 100%;
    color: var(--box-shadow, orange)
  }

}